<h1>¡Hola, gracias por tu pago, {{nombre}}!</h1>
<p>🎉Hemos recibido un pago exitoso por un total de <strong>${{monto}}</strong>.</p>
<p>Tu pedido ya fue enviado. ¡Gracias por confiar en FastDelivery App!</p>